<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1>This is the password reset email for: <%= @user.email %></h1>
	<p>
	To reset your password, click on the following link: <%= link_to "Reset Password", users_reset_request_url + @url %>
	</p>
</body>
</html>